:host {
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 10px;
    .card {       
        width: 240px;
        .card-header {
            a {
                float: right;
            }
        }
        .card-body {
            max-height: 300px;
            overflow-y: auto;
        }
        .list-group {
            margin-bottom: 0;
        }
    }
}
a{
    cursor: default;
}